<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>

  <link rel="stylesheet" href="../static/styles/common.css" />
  <link rel="stylesheet" href="../static/styles/verify_email.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  <header class="navbar">
    <div class="logo">
      <img src="../static/images/crimson_code_logo.png">
    </div>



    <i class="fas fa-bars menu-bar"></i>

    <div class="navbar-buttons">
      <ul class="nav-left-buttons">
        <li class="home-btn">
          <a href="home.html">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>

        <li class="categories-btn">

          <div class="category-details">
            <i class="fas fa-layer-group"></i>
            <span>Categories</span>
          </div>

          <ul class="category-dropdown">

          </ul>
        </li>

        <li class="view-search-btn">
          <i class="fas fa-search"></i></i>
          Search
        </li>
      </ul>



      <div class="mobile-view-logout-btn">
        <i class="fas fa-sign-out-alt fa-flip-horizontal"></i>
        Logout
      </div>



      <ul class="nav-right-buttons">
        <li class="login-signup-btn">
          <button class="navbar-login-btn">
            <i class="fas fa-sign-in-alt"></i>
            Login
          </button>

          <button class="navbar-signup-btn">
            <i class="bi bi-person-plus-fill"></i>
            Sign Up
          </button>
        </li>

      </ul>
      <ul class="user-profile" style="display: none;">
        <li class="publish-btn" style="display: none;">
          <a href="post_form.html">
            <i class="fas fa-pencil-alt"></i>
            Publish
          </a>
        </li>

        <li class="profile-details">
          <div class="profile-pic">
            <img src="" alt="" />
          </div>
          <span class="user-name"></span>
        </li>
        <li class="profile-dropdown">
          <button class="view-profile">View Profile</button>
          <button class="logout-btn">Logout</button>
        </li>
      </ul>
    </div>
    <div class="search-container" style="display: none;">

      <div class="tag-dropdown">
        <button id="tag-dropdown-btn">Tags <i class="bi bi-caret-down-fill"></i></button>
        <div class="tag-dropdown-content">
          <input type="text" class="tag-search" placeholder="Search tags..." />
          <div class="tag-checkboxes">

          </div>
        </div>
      </div>

      <input class="main-search-input" type="search" placeholder="Search..." />
      <i class="fas fa-search"></i>
      <button class="close-search-btn">&times;</button>
    </div>
  </header>

  <main class="verify-email-wrapper">
      <div class="message-container">
        <div class="verify-failure">
          <i class="bi bi-x-circle-fill icon-failure"></i>
          <p>Verification failed. Please try to send a new verification email or contact support.</p>
        </div>
      </div>
      <button class="send-verification-mail-btn">send a verification mail</button>
  </main>

  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-about">
        <h3>Crimson Code</h3>
        <p>Your go-to blog for all things development. Clean code, clear concepts.</p>
      </div>
  
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
      </div>
  
      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://github.com/Mohamed-Ali7" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/mohamed-ali7/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p></p>
    </div>
  </footer>
</body>
<script src="../static/scripts/main.js"></script>
<script src="../static/scripts/common.js"></script>
<script src="../static/scripts/verify_email.js"></script>

</html>